@model IEnumerable<Promo.Picker.Core.BusinessObject.QualifiedMillionaire>

<div id="excelbtn" style="float:right" class="form-group">
    @Html.ActionLink("Export To Excel", "ExportToExcel", "", new { startDate = ViewBag.startDate, endDate = ViewBag.endDate }, new { @class = "btn btnClass", startDate = ViewBag.startDate, endDate = ViewBag.endDate })
</div>

<div id="pdfbtn" style="float:right" class="form-group">
    @Html.ActionLink("Export To Pdf", "PromoViewToPdf", "", new { startDate = ViewBag.startDate, endDate = ViewBag.endDate }, new { @class = "btn btnClass", startDate = ViewBag.startDate, endDate = ViewBag.endDate })
</div>
<table class="table table-light">
    <thead>
        <tr>
            <th>
                Account No.:
            </th>
            <th>
                Account Name:
            </th>
            <th>
                Mobile No.:
            </th>
            <th>
                Branch Code:
            </th>
            <th>
                Date:
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedDate)
                </td>
                <td>
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>
